.hover-opacity {
    &:hover {
        opacity: 0.8;
    }
}

// 字體-大小
.font-md {
    font-size: 1.25rem;
}
.font-sm {
    font-size: 0.875rem;
}
.font-xs {
    font-size: 0.75rem;
}

// 字形
.roboto-mono{
    font-family: 'Roboto Mono', monospace;
}

// 追加使用者頭像的寬高
.rounded-circle{
    width: 40px;
    max-height: 40px;
}

.container{
    max-width: 984px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.pointer{
    &:hover{
        cursor: pointer;
    }
}

.mt-6px{
    margin-top: 6px;
}
.list-style-disc{
    list-style-type: disc;
    list-style-position: inside;
}