<div class="d-flex align-items-center">
    <span class="d-flex fs-7 text-dark link-success pointer p-0" href="#"><span class="material-symbols-outlined">
        search
        </span></span>
    <span class="d-flex fs-7 text-dark link-success pointer p-0 ms-6" href="#"><span class="material-symbols-outlined">
        notifications_active
        </span></span>
</div>