<div class="d-flex align-items-center">
    <a class="d-flex fs-7 text-dark link-success" href="#"><span class="material-symbols-outlined">
        search
        </span></a>
    <a class="d-flex fs-7 text-dark link-success ms-6" href="#"><span class="material-symbols-outlined">
        notifications_active
        </span></a>
</div>