<nav class="d-flex flex-column justify-content-between py-8 ps-8 pe-14 bg-light position-fixed h-100">
    <div>
        <h1><a class="d-block mb-8" href="index.html">我是標題</a></h1>
        <ul>
            <li class="position-relative mb-6">
                <div class="d-inline bg-success" data-div="dashboard"></div>
                <a class="d-flex fw-bold dashboard" href=""><span
                        class="fs-7 me-4 material-symbols-outlined">
                        insert_chart
                    </span>
                    Dashboard
                </a>
            </li>
            <li class="position-relative mb-6">
                <div class="d-inline bg-success" data-div="question"></div>
                <a class="d-flex fw-bold question" href=""><span
                        class="fs-7 me-4  material-symbols-outlined">
                        forum
                    </span>
                    Question
                </a>
            </li>
            <li class="position-relative mb-6">
                <div class="d-inline bg-success" data-div="assignment"></div>
                <a class="d-flex fw-bold assignment" href="assignment.html"><span
                        class="fs-7 me-4  material-symbols-outlined">
                        assignment
                    </span>
                    Assignment
                </a>
            </li>
            <li class="position-relative mb-6">
                <div class="d-inline bg-success" data-div="course"></div>
                <a class="d-flex fw-bold course" href=""><span
                        class="fs-7 me-4  material-symbols-outlined">
                        video_library
                    </span>
                    Course
                </a>
            </li>
            <li class="position-relative mb-6">
                <div class="d-inline bg-success" data-div="admin"></div>
                <a class="d-flex fw-bold admin" href="admin.html"><span
                        class="fs-7 me-4  material-symbols-outlined">
                        group
                    </span>
                    Admin
                </a>
            </li>
            <li class="position-relative mb-4">
                <div class="d-inline bg-success" data-div="settings"></div>
                <a class="d-flex fw-bold settings" href=""><span
                        class="fs-7 me-4  material-symbols-outlined">
                        settings
                    </span>
                    Settings
                </a>
            </li>
        </ul>
    </div>

    <div class="d-flex">
        <div>
            <img class="rounded-circle me-4"
                src="https://github.com/newhandarky/week5-admin/blob/main/assets/images/andychen.jpeg?raw=true"
                alt="使用者頭像1">
        </div>
        <div>
            <h3 class="fw-bold h6">Andy Chen <br><span class="font-sm text-secondary">andy0401@mail.com</span>
            </h3>
        </div>
    </div>


</nav>

<script>
    let str = location.pathname.split("/");
    let newStr = str[str.length - 1].split('.');
    let renderPageLink = function(){
        // 抓當前頁面+當前頁面頁籤上色
        document.querySelector(`.${newStr[0]}`).parentElement.firstElementChild.classList.add("onPage");
        document.querySelector(`.${newStr[0]}`).classList.add("text-success");
    }


</script>