<!-- add new admin -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="newAdmin" tabindex="-1"
    aria-labelledby="newAdminLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 p-8">
                <h5 class="modal-title fs-4" id="newAdminLabel">New Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-bottom-0 px-8 py-0 mb-9">
                <div class="border-bottom pb-6 mb-6">
                    <h6 class="fs-5 mb-4">Account</h6>
                    <div>
                        <label class="mb-1 d-block form-label" for="addName">Name</label>
                        <input class="w-100 py-3 mb-4 form-control" id="addName" type="text">
                    </div>
                    <div>
                        <label class="mb-1 d-block form-label" for="addMail">Email</label>
                        <input class="w-100 py-3 form-control" id="addMail" type="email">
                    </div>
                </div>
                <div class="border-bottom pb-6 mb-6">
                    <h6 class="fs-5 mb-4">Verification</h6>
                    <div class="d-flex mb-4">
                        <span class="material-symbols-outlined text-danger me-2">
                            warning</span>
                        <p class="fw-bold">Unverified</p>
                    </div>
                    <button class="btn btn-outline text-success w-100 border rounded-0">Send Verification Mail</button>
                </div>
                <div class="border-bottom pb-6 mb-4">
                    <h6 class="fs-5 mb-4">Access Level</h6>
                    <div class="d-flex">
                        <select class="form-select w-100 p-4" name="level" id="setLevel" aria-label="Default select example">
                            <option value="-Choose access level-">-Choose access level-</option>
                            <option value="lv1">lv1</option>
                            <option value="lv2">lv2</option>
                            <option value="lv3">lv3</option>
                            <option value="lv4">lv4</option>
                            <option value="lv9999">lv9999</option>
                        </select>
                    </div>
                </div>
                <div class="">
                    <h6 class="fs-5 mb-4">Custom Access</h6>
                    <div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="setLecture">
                            <label for="setLecture">Lecture</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="setCoupon">
                            <label for="setCoupon">Coupon</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="setMessage">
                            <label for="setMessage">Message</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="setSetting">
                            <label for="setSetting">Setting</label>
                        </div>
                        <div>
                            <input class="me-2" type="checkbox" name="" id="setTaskMenu">
                            <label for="setTaskMenu">Task Menu</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn rounded-0 px-8 py-2 btn-outline-success m-0"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn rounded-0 px-8 py-2 btn-success ms-4">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- edit admin -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editAdmin" tabindex="-1"
    aria-labelledby="editAdminLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 p-8">
                <h5 class="modal-title fs-4" id="editAdminLabel">Edit Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-bottom-0 px-8 py-0 mb-9">
                <div class="border-bottom pb-6 mb-6">
                    <h6 class="fs-5 mb-4">Account</h6>
                    <label class="mb-1 d-block" for="editName">Name</label>
                    <input class="w-100 py-3 ps-4 border-0 mb-4" id="editName" type="text" readonly placeholder="Emir Wicks">
                    <label class="mb-1 d-block" for="editMail">Email</label>
                    <input class="w-100 py-3 ps-4 border-0" id="editMail" type="email" readonly placeholder="emir.wicks@mail.com">
                </div>
                <div class="border-bottom pb-6 mb-6">
                    <h6 class="fs-5 mb-4">Verification</h6>
                    <div class="d-flex mb-4">
                        <div class="rounded-circle bg-circle bg-success me-2">
                            <span class="material-symbols-outlined  text-light">
                                done
                            </span>
                        </div>
                        <div class="d-flex justify-content-between w-100">
                            <p class="fw-bold d-block">Verified</p>
                            <date class="d-block font-sm">2020/4/12</date>
                        </div>
                    </div>
                    <button class="btn btn-light w-100 border rounded-0" disabled >Send Verification Mail</button>
                </div>
                <div class="border-bottom pb-6 mb-4">
                    <h6 class="fs-5 mb-4">Access Level</h6>
                    <div class="d-flex">
                        <select class="w-100 p-4" name="level" id="editLevel">
                            <option value="-Choose access level-">Admin</option>
                            <option value="lv1">lv1</option>
                            <option value="lv2">lv2</option>
                            <option value="lv3">lv3</option>
                            <option value="lv4">lv4</option>
                            <option value="lv9999">lv9999</option>
                        </select>
                    </div>
                </div>
                <div class="border-bottom pb-6 mb-6">
                    <h6 class="fs-5 mb-4">Custom Access</h6>
                    <div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="editLecture">
                            <label for="editLecture">Lecture</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="editCoupon">
                            <label for="editCoupon">Coupon</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="editMessage">
                            <label for="editMessage">Message</label>
                        </div>
                        <div class="mb-4">
                            <input class="me-2" type="checkbox" name="" id="editSetting">
                            <label for="editSetting">Setting</label>
                        </div>
                        <div>
                            <input class="me-2" type="checkbox" name="" id="editTaskMenu">
                            <label for="editTaskMenu">Task Menu</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="fs-5 mb-4">Deactivate Account</h6>
                    <div class="">
                        <p class="text-danger mb-4 d-flex"><span class="material-symbols-outlined me-2">
                            warning
                            </span>This cannot be undone!</p>
                    </div>
                    <button class="btn btn-outline-danger w-100 rounded-0 py-4">Deactivate This Account</button>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn rounded-0 px-8 py-2 btn-outline-success m-0"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn rounded-0 px-8 py-2 btn-success ms-4">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- view Admin -->
<div class="modal fade" id="viewAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="viewAdminLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body d-flex p-8">
                <div class="me-6">
                    <img src="https://github.com/newhandarky/week5-admin/blob/main/assets/images/emir.jpeg?raw=true"
                        alt="人物照片">
                </div>
                <div class="w-100 p-0">
                    <div class="mb-2 d-flex justify-content-between">
                        <p>#1</p>
                        <span class="material-symbols-outlined pointer" data-bs-dismiss="modal">
                            close
                        </span>
                    </div>
                    <p>Admin</p>
                    <h5 class="mb-2 fs-4">Emir Wicks</h5>
                    <p class="mb-4 font-sm text-secondary">emir.wicks@mail.com</p>
                    <div class="d-flex justify-content-between mb-8">
                        <p class="px-2 py-1 bg-light font-sm">Verified</p>
                        <span class="material-symbols-outlined openBtn openBtn-up pointer text-success" data-bs-toggle="collapse" data-bs-target="#toggleBtn"
                        aria-expanded="false" aria-controls="toggleBtn">
                            expand_more
                        </span>
                    </div>
                    <div class="collapse" id="toggleBtn">
                        <div class="d-flex justify-content-between">
                            <button class="btn py-2 px-8 btn-outline-danger rounded-0" data-bs-dismiss="modal">
                                Deactivate
                            </button>
                            <button class="btn py-2 px-8 btn-success rounded-0" data-bs-toggle="modal" data-bs-target="#editAdmin">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

