<div class="pagination d-flex justify-content-end">
    <ul class="d-flex border border-success">
        <li class="border-success pointer border-end"><span class="hover-bg-success pointer d-flex" href="#"><span class="material-symbols-outlined">
            chevron_left
            </span></span></li>
        <li class="border-success border-end"><span class="hover-bg-success pointer d-block links px-2 text-white thisPage" href="#">1</span></li>
        <li class="border-success border-end"><span class="hover-bg-success pointer d-block links px-2" href="#">2</span></li>
        <li class="border-success border-end"><span class="hover-bg-success pointer d-block links px-2" href="#">3</span></li>
        <li><span class="hover-bg-success pointer d-flex" href="#"><span class="material-symbols-outlined">
            chevron_right
            </span></span></li>
    </ul>
</div>