h1 {
    a {
        @include img-hide-text;
        background-image: url("https://raw.githubusercontent.com/newhandarky/week5-admin/3f49f7b46321e4fb4d025668753da320760c7a7d/assets/images/logo-ANSWER.svg");
        @include bg-img-cover;
        width: 151px;
        height: 40px;
    }
}

.onPage {
    position: absolute;
    width: 4px;
    height: 32px;
    left: -32px;
    top: -4px;
}