.hover-bg-light{
  &:hover{
    background: $light;
  }
}

.card-article{
  max-width: 488px;
}

aside{
  width: 320px;
}

.star-icon{
  width: 24px;
  height: 24px;
}

.img-rotate{
  @include img-rotate;
}