.hover-bg-light{
  &:hover{
    background: $light;
  }
}

.card-article{
  max-width: 488px;
}

aside{
  width: 320px;
}

.star-icon{
  width: 24px;
  height: 24px;
}

.img-rotate{
  @include img-rotate(90deg, 0s);
}

.dropdown-toggle::after{
  display: none;
}

span.dropdownAll4{
  top: -28px;
}

aside ul{
  width: 320px;
}
.dropdownAll4{
  top: -22px;
}



.text-space-24::after{
  content: "";
  display: inline-block;
  width: 24px;
}
.text-space-12::after{
  content: "";
  display: inline-block;
  width: 12px;
}
