<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後臺系統Assignment頁面</title>
    <%- include("./layout/icon"); -%>
</head>

<body>
    <div class="content d-flex">

        <%- include("./layout/menu"); -%>
            <%- include("./layout/models"); -%>
                <div class="container">
                    <header class="d-flex justify-content-between py-8">
                        <div class="d-flex">
                            <h2 class="me-12">Admin</h2>
                            <div class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#newAdmin">
                                <span class="d-flex fw-bold p-0 pointer">
                                    <span class="material-symbols-outlined  text-success me-2">
                                        add
                                    </span>Add New Admin</span>
                            </div>

                        </div>

                        <%- include("./layout/header-right"); -%>
                    </header>

                    <main class="mb-14">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="pb-1 ps-0 d-flex align-items-center" scope="col">ID
                                        <span class="material-symbols-outlined  font-md ms-1">
                                            arrow_downward
                                        </span>
                                    </th>
                                    <th class="pb-1 ps-0" scope="col">Name</th>
                                    <th class="pb-1 ps-0" scope="col">Email</th>
                                    <th class="pb-1 ps-0" scope="col">Verified</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" data-bs-toggle="modal" data-bs-target="#viewAdmin">
                                    <th scope="row" class="fw-normal px-0 py-4">#1</th>
                                    <td class="px-0 py-4">Emir Wicks</td>
                                    <td class="px-0 py-4">emir.wicks@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end border-top">
                                        <span class="material-symbols-outlined pointer" data-bs-toggle="modal" data-bs-target="#viewAdmin">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6" data-bs-toggle="modal" data-bs-target="#editAdmin">
                                            edit
                                        </span>
                                    </td>
                                </tr>


                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#2</th>
                                    <td class="px-0 py-4">Zaina Goldsmith</td>
                                    <td class="px-0 py-4">zaina.goldsmith@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#3</th>
                                    <td class="px-0 py-4">Mahima Lopez</td>
                                    <td class="px-0 py-4">mahima.lopez@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#4</th>
                                    <td class="px-0 py-4">Pharrell Murray</td>
                                    <td class="px-0 py-4">pharrell.murray@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#5</th>
                                    <td class="px-0 py-4">Annika Mcbride</td>
                                    <td class="px-0 py-4">annika.mcbride@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#6</th>
                                    <td class="px-0 py-4">Fatimah Clark</td>
                                    <td class="px-0 py-4">fatimah.clark@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#7</th>
                                    <td class="px-0 py-4">Klaudia Rhodes</td>
                                    <td class="px-0 py-4">klaudia.rhodes@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#8</th>
                                    <td class="px-0 py-4">Tillie Lucero</td>
                                    <td class="px-0 py-4">tillie.lucero@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#9</th>
                                    <td class="px-0 py-4">Sabrina Stephenson</td>
                                    <td class="px-0 py-4">sabrina.stephenson@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>

                                <tr class="pointer">
                                    <th scope="row" class="fw-normal px-0 py-4">#10</th>
                                    <td class="px-0 py-4">Annie Smith</td>
                                    <td class="px-0 py-4">annie.smith@mail.com</td>
                                    <td>Yes</td>
                                    <td class="px-0 py-4 d-flex align-items-center justify-content-end">
                                        <span class="material-symbols-outlined pointer">
                                            visibility
                                        </span>
                                        <span class="material-symbols-outlined pointer ms-6">
                                            edit
                                        </span>
                                    </td>
                                </tr>



                            </tbody>
                        </table>


                    </main>

                    <%- include("./layout/pagination"); -%>

                </div>
                <script type="module" src="../main.js"></script>
</body>

<script>
    let icons = document.querySelectorAll(".star-icon");
    let change = document.querySelector(".change-icon");
    let userBlock = document.querySelector("#userBlock");
    let userBlockBtn = document.querySelector("#userBlock__btn");
    let textEditor = document.querySelector("#textEditor");
    let cancel = document.querySelector("#cancel");
    let reply = document.querySelector("#reply");
    let links = document.querySelectorAll(".links");
    let openBtn = document.querySelector(".openBtn");

    let clearThisPage = function(){
        let thisPage = document.querySelector(".thisPage");
        thisPage.classList.remove("text-white");
        thisPage.classList.remove("thisPage");
    }

    window.onload = function () {
        // 抓當前頁面+當前頁面頁籤上色
        renderPageLink();
        
        // 切換當前頁籤
        function getThisPage(item, index, arr){
            item.addEventListener("click", function(e){
                clearThisPage();
                e.target.classList.add("text-white");
                e.target.classList.add("thisPage");
            })
        }        
        links.forEach(getThisPage);

        openBtn.addEventListener("click", function(){
            openBtn.classList.toggle("openBtn-down");
            openBtn.classList.toggle("openBtn-up");
        })

    }
</script>


</html>